body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ff00d94b;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: #03fdf9a5;
  color: #000000;
}

nav a {
  margin-left: 1rem;
  color: #000000;
  text-decoration: none;
}

main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .app-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    flex-direction: row;
    justify-content: space-around;
  }
}

section, article {
  background: #985b89;
  padding: 1rem;
  border-radius: 8px;
  color: #ffffff;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

form input,
form textarea,
form select {
  width: 25%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}

button {
  background-color: #03fdf9a5;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.app-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: 100vh;
}

.sidebar {
  background-color: #985b89;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
}

.sidebar a:hover {
  text-decoration: underline;
}

main.home{
  display: block;
}